.footer {
    padding-top: 72px;
    padding-bottom: 50px;
    background: $footer-bg;
    letter-spacing: 0.05rem;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    
}

.footer_logo {
    margin-top: -12px;
}

.footer_nav-list {
    display: grid;
    gap: 15px;
}

.footer_nav {   

}

.footer_address {
    display: grid;
    gap: 20px;
}

.socials {
    display: flex;
    column-gap: 22px;
    align-items: center;
}