.form {

}

.form_input {
    height: 50px;
    padding: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: $white;
    font-size: 14px;
    transition: background-color 0.2s ease-in;


    &::placeholder {
        color: $placeholder;
    }

    &:focus {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.form_privacy {
    font-size: 13px;
    color: $privacy;
    text-align: center;
    list-style: 1.23l
}

.form_button {
    height: 50px;
    padding: 12px;
    font-size: 16px;
    color: $white;
    font-weight: 700;
    text-align: center;
    background-color: $accent;

    &:hover {
        background-color: darken($accent, 10%);
    }
}

.cta_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}