.slider {
    margin: 0 auto;
    width: 479px;
    height: 851px;
    background-color: rgb(182, 203, 222);
}

.controls {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.slider img {
    width: 479px;
    height: 851px;
}

.hidden {
    display: none;
}